<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<h1>Customers</h1>

<div id="customers">
  <ol>
    <% @customers.each do |customer| %>
    <li>
      <%= link_to "#{customer.first_name} #{customer.last_name}", customer %>
    </li>
    <% end %>
  </ol>
</div>

<%= link_to "New customer", new_customer_path %>
