<h1>My Cart</h1>

<div>
  <% if @order.order_products.present? %>
  <ul>
    <% @order.order_products.each do |order_product| %>
    <li>
      <%= order_product.product.name %> -
       <%= button_to "Remove", order_path(order_product.product), method: :delete do%>
       Removed from cart!
       <% end %>
    </li>
    <% end %>
  </ul>
    <% else %>
      <p>Your cart is empty.</p>
  <% end %>
</div>