<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<div id="products">
  <ol>
    <% @products.each do |product| %>
      <li>
        <%= link_to product.name, product %>
      </li>
    <% end %>
  </ol>
</div>

<%= link_to "New product", new_product_path %>

<div>
  <%= paginate @products %>
</div>
